*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}


.work-sans {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}

header{
    background-image: url("../images/banner/banner1.png");
    width: 100%;
    padding: 216px 230px 166px 0;
}

nav{
    display: flex;
    justify-content: end;
}

.banner{
    width: 36%;
    max-width: 525px;
    text-align: end;

}

nav .banner h3{
    font-size: 65px;
    color: #151414;
    text-align: end;
    margin-bottom: 24px;
    line-height: auto;
}

nav .banner p{
    font-size: 16px;
    line-height: 26px;
    color: #444343;
    margin-bottom: 32px;
}
nav .banner .btn{
    padding: 20px 25px;
    font-size: 20px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    background-color: #F15B22;
}