*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}


.work-sans {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}

/* share style */

.head p{
    font-size: 16px;
    line-height: 26px;
    color: #444343;
}

            /* main style */

header{
    background-image: url("../images/banner/banner1.png");
    width: 100%;
    padding: 216px 230px 166px 0;
}

nav{
    display: flex;
    justify-content: end;
}

.banner{
    width: 36%;
    max-width: 525px;
    text-align: end;

}

nav .banner h3{
    font-size: 65px;
    color: #151414;
    text-align: end;
    margin-bottom: 24px;
    line-height: auto;
}

nav .banner p{
    font-size: 16px;
    line-height: 26px;
    color: #444343;
    margin-bottom: 32px;
}
nav .banner .btn{
    padding: 20px 25px;
    font-size: 20px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    background-color: #F15B22;
}

.main{
    padding-top: 136px;
}

.main .container{
    width: 67%;
    max-width: 1072px;
    display: flex;
    align-items: center;
    gap: 87px;
    margin: 0 206px 0 322px;
}

.img .round {
    position: absolute;
    margin: 195px 18px 0 23px ;
    width: 527px;
    height: 527px;
    background-color: #FCDED3;
    border-radius: 50%;
    z-index: -1;
}
.container .text h2{
    font-size: 40px;
    color: #151414;
    margin-bottom: 24px ;
}

.container .text .infos{
    font-size: 16px;
    line-height: 26px;
    color: #444343;
    margin-bottom: 14px;
}

.text .icon{
    width: 349px;
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}
.text .icon i{
    color: #16D887;
    


}

.text .icon .info{
    margin-left: 10px;

    
}

#my-plans{
    padding-top:130px ;
    text-align: center;
}

#my-plans h2{
    font-size: 40px;
    color: #151414;
    margin-bottom: 50px;
}

#my-plans .skill{
    width: 71%;
    max-width: 1140px;
    display: flex;
    justify-content: space-between;
    gap: 86px;
    margin: 0 auto;
}

.skill .skill-box img{
    margin-bottom: 24px;
}

.skill .skill-box h3{
    font-size: 30px;
    color: #151414;
    margin-bottom: 16px;
}
.skill .skill-box p{
    font-size: 25px;
    font-weight: 500;
    color: #737272;
}