*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}


.work-sans {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}

/* share style */

.img-btn{
   padding: 20px 36px;
   border: none;
   border-radius: 5px;
   font-weight: bold;
   color: #F15B22;
}
.head p{
    font-size: 16px;
    line-height: 26px;
    color: #444343;
}

            /* main style */

header{
    background-image: url("../images/banner/banner1.png");
    width: 100%;
    padding: 216px 230px 166px 0;
}

nav{
    display: flex;
    justify-content: end;
}

.banner{
    width: 36%;
    max-width: 525px;
    text-align: end;

}

nav .banner h3{
    font-size: 65px;
    color: #151414;
    text-align: end;
    margin-bottom: 24px;
    line-height: auto;
}

nav .banner p{
    font-size: 16px;
    line-height: 26px;
    color: #444343;
    margin-bottom: 32px;
}
nav .banner .btn{
    padding: 20px 25px;
    font-size: 20px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    background-color: #F15B22;
}

.main{
    padding-top: 136px;
}

.main .container{
    width: 67%;
    max-width: 1072px;
    display: flex;
    align-items: center;
    gap: 87px;
    margin: 0 206px 0 322px;
}

.img .round {
    position: absolute;
    margin: 195px 18px 0 23px ;
    width: 527px;
    height: 527px;
    background-color: #FCDED3;
    border-radius: 50%;
    z-index: -1;
}
.container .text h2{
    font-size: 40px;
    color: #151414;
    margin-bottom: 24px ;
}

.container .text .infos{
    font-size: 16px;
    line-height: 26px;
    color: #444343;
    margin-bottom: 14px;
}

.text .icon{
    width: 349px;
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}
.text .icon i{
    color: #16D887;
    


}

.text .icon .info{
    margin-left: 10px;

    
}

#my-plans{
    padding-top:130px ;
    text-align: center;
}

#my-plans h2{
    font-size: 40px;
    color: #151414;
    margin-bottom: 50px;
}

#my-plans .skill{
    width: 71%;
    max-width: 1140px;
    display: flex;
    justify-content: space-between;
    gap: 86px;
    margin: 0 auto;
}

.skill .skill-box img{
    margin-bottom: 24px;
}

.skill .skill-box h3{
    font-size: 30px;
    color: #151414;
    margin-bottom: 16px;
}
.skill .skill-box p{
    font-size: 25px;
    font-weight: 500;
    color: #737272;
}

.image{
    padding: 130px 0;
}
.image .img-bar{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    background: url("/images/gradient2.png"),url("/images/watch.png");
    border-radius: 8px;
    padding: 59px 0px 59px 64px;
}

.image .img-bar .img-text{
    max-width: 459px;
}

.img-bar .img-text h2{
    font-size: 40px;
    color: #ffffff;
    margin-bottom: 24px;
}


footer{
    background-color: #151414;
    padding: 130px 0;
}
footer .footer-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

footer .footer-container .feture{
    max-width: 485px;
}
footer .footer-container .suscribe{
    max-width: 325px;
}

.footer-container .feture h2{
    font-size: 45px;
    color:#F8F8F8;
    margin-bottom: 16px;
}
.footer-container .feture p{
    font-size: 16px;
    line-height: 26px ;
    color: #ffffff;
    margin-bottom: 24px;
}

.footer-container .feture .links{
    max-width: 175px;
    display: flex;
    justify-content: space-between;
}

.suscribe{
    max-width: 325px;
}
.footer-container .suscribe h2{
    font-size: 25px;
    font-size: 600;
    color: #ffffff;
    margin-bottom: 30px;
}

.footer-container .suscribe input[type="email"]{
    max-width:  325px;
    background-color: transparent;
    padding: 21px 158px 21px 21px;
    margin-bottom:16px ;
    font-size: 18px;
    border: 1px solid #f3f3f3;
    color: #ffffff;
    border-radius: 5px;
    outline: none;
    display: block;
}